---
// Component Imports
import Hero from '../components/hero/Skitty.vue'
import Nav from '../components/nav/VerticalAlt.vue'

import Art from '../components/art/FlexGallery.vue'
import Commissions from '../components/commissions/Basic.vue'
import ContactMe from '../components/contact-me/Basic.vue'
import MadeWithLove from '../components/footer/made-with-love.vue'

import state from '../components/state';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Raquel Bumgarner</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Nanum+Pen+Script&display=swap');

      html,
      body {
        font-family: 'Nanum Pen Script', 'Gloria Hallelujah';
        font-size: 1.5rem;
        margin: 0;
        padding: 0;

        scroll-behavior: smooth;
      }
      body {
        margin: 0;
        padding: 0;
      }
      main {
        display: flex;
        flex-direction: row;
        width: 100vw;
      }
      a {
        text-decoration: none;
        color: white;
      }
      .content {
        display: flex;
        flex-direction: row;
        width: 100%;
        z-index: 10;
      }
      .page-content {
        width: calc(100% - 45px);
        margin: 0;
        padding: 0;
      }
      @media only screen and (max-width: 768px) {
        .content {
          width: 100vw;
          padding-left: 0;
        }
        .page-content {
          width: 100%;
        }
      }
      .background {
        /* background: #FFF1ED; */
        background: linear-gradient(165deg, lightblue, pink, #fffee1);
      }
    </style>
  </head>
  <body class="">
    <Hero client:visible/>
    <main class="">
      <div class="background content">
        <Nav client:visible/>
        <section class="page-content">
          <Art client:load/>
          <Commissions client:visible/>
          <ContactMe client:visible/>
          <MadeWithLove client:visible/>
        </section>
      </div>
    </main>
  </body>
</html>
