---
// Component Imports
import Counter from '../components/Counter.vue'
import Hero from '../components/hero/WitchFixed.vue'
import Nav from '../components/nav/VerticalAlt.vue'

import About from '../components/about/BasicAlt.vue'
import Art from '../components/art/FlexGallery.vue'
import Commissions from '../components/commissions/Basic.vue'
import ContactMe from '../components/contact-me/Basic.vue'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Raquel Bumgarner</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <style>
      html,
      body {
        font-family: system-ui;
        margin: 0;
        padding: 0;

        scroll-behavior: smooth;
      }
      body {
        margin: 0;
        padding: 0;
      }
      main {
        display: flex;
        flex-direction: row;
        width: 100vw;
      }
      a {
        text-decoration: none;
        color: white;
      }
      .content {
        width: calc(100vw - 200px);
        z-index: 20;

        /* background: black; */
      }
      @media only screen and (max-width: 768px) {
        .content {
          width: 100vw;
          padding-left: 0;
        }
      }
      .background {
        background: #FFF1ED;
        /* background: linear-gradient(165deg, lightblue, pink, #fffee1); */
      }
    </style>
  </head>
  <body>
    <Hero client:visible/>
    <main>
      <Nav client:visible/>
      <div class="content">
        <section class="background">
          <About client:visible/>
          <Art client:visible/>
          <Commissions client:visible/>
          <ContactMe client:visible/>
        </section>
      </div>
    </main>
  </body>
</html>
