---
// Component Imports
import Hero from "/src/components/hero/Skitty.vue";
import Art from "/src/components/art/FlexGallery.vue";
import Commissions from "/src/components/commissions/Basic.vue";
import ContactMe from "/src/components/contact-me/Basic.vue";
import MadeWithLove from "/src/components/footer/made-with-love.vue";

// Application State
import { about, commissions, contact, contactFormEnabled } from "/src/components/content.json";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Raquel Bumgarner</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <style>
      @font-face {
        font-family: "Raquel";
        src: url(/fonts/Raquelfont_01.ttf);
      }

      @font-face {
        font-family: "Nanum Pen Script";
        src: url(/fonts/nanum-pen-script-v19-latin-regular.woff2);
      }

      :root {
        --light-blue: 173, 216, 230;
      }

      html,
      body {
        width: 100vw;
        overflow-x: hidden;
        overflow-y: scroll;

        font-family: "Nanum Pen Script";
        font-size: 36px;
        line-height: 1.25em;
        letter-spacing: -1px;
        margin: 0;
        padding: 0;

        scroll-behavior: smooth;
      }

      a {
        /*text-decoration: none;*/
        color: white;
      }
      main.content {
        position: relative;
        display: block;
        width: 100%;
        z-index: 20;

        padding-top: 10em;
      }

      @media only screen and (max-width: 768px) {
        .content {
          width: 100vw;
          padding-left: 0;
        }
        .page-content {
          width: 100%;
        }
      }
      .background {
        /* background: #FFF1ED; */
        background: linear-gradient(180deg, transparent 0, rgba(var(--light-blue), 0.125) 4em, rgba(var(--light-blue), 1) 16em, pink 48em, #fffee1);
      }
    </style>
  </head>
  <body>
    <Hero client:load {about} />
    <main class="background content">
      <Art client:load/>
      <Commissions {commissions} />
      <ContactMe client:visible {contact} {contactFormEnabled} />
      <MadeWithLove/>
    </main>
  </body>
</html>
